{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "prettier", "plugin:react/recommended"],
    "plugins": ["react", "prettier"],
    "rules": {
		"prettier/prettier": "error",
		"react/prop-types": 0
    },
    "env": {
      "node": true,
      "browser": true
    }
}