node_modules/
lib/
src/
.git/
.gitignore
.prettierc
package.json
tsconfig.json
webpack.config.js
yarn.lock
yarn-error.log
.prettierrc
index.html
cloudbuild.yaml
.eslintrc.json
.env.dev
.env.prod
.babelrc