{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"jsxBracketSameLine": true,
	"useTabs": true,
	"tabWidth": 4,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"bracketSpacing": true
}