.about-block {
	min-height: 150px !important;
	padding: 20px !important;
	border-radius: 10px !important;
	text-align: justify !important;

	transition: all 0.2s ease !important;
	-webkit-transition: all 0.2s ease !important;
}

.about-block:hover {
	-webkit-transform: translateY(-1%) scale(1.01, 1.01);
	transform: translateY(-1%) scale(1.01, 1.01);
	background: rgb(228, 228, 228, 0.1);
}
