.about-block {
	min-height: 150px !important;
	padding: 20px !important;
	border-radius: 10px !important;
	text-align: justify !important;

	transition: all 0.3s ease !important;
	-webkit-transition: all 0.3s ease !important;
}

.about-block:hover {
	-webkit-transform: translateY(-2%) scale(1.03, 1.03);
	transform: translateY(-2%) scale(1.03, 1.03);
	background: rgb(228, 228, 228, 0.15);
}
