.prompt {
	font-family: 'Prompt', sans-serif;
}

.roboto-condensed {
	font-family: 'Roboto Condensed', sans-serif;
}

.graybg {
	background-color: #F1F1F1
}

.donut-tooltip {
	list-style: none; /* Remove default bullets */
	margin-left: -2em;
}

.donut-tooltip li::before {
	content: "\25A0";
}

.donut-tooltip li:nth-child(1)::before {
	color: #00910E;
	font-weight: bolder;
}

.donut-tooltip li:nth-child(2)::before {
	color: red;
	font-weight: bolder;
}

.donut-tooltip li:nth-child(3)::before {
	color: #DEDEDE;
	font-weight: bolder;
}

.offering-reviews-feed {
	padding: 1rem;
	box-sizing: border-box;
	position: absolute; /* so height depends only of parent */
	height: calc(100% - 50px);
	overflow-y: auto;
	overflow-x: hidden;
}

.offering-review-balloon {
	width: 100%;
	max-width: 800px;
	min-height: 150px;
	border-radius: 20px;
	padding: 2rem 2rem .5rem 2rem;
	box-sizing: border-box;
}

.offering-review-form-accordion {
	position: absolute;
	bottom: 0;
	min-height: 50px;
	background-color: #BBC4CD;
}

.offering-review-form-accordion-button {
	height: 50px;
	padding-right: 25px;
	cursor: pointer;
}

.offering-review-form-accordion-content {
	min-height: 150px;
	padding: 1rem;	
}


.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.tooltip-card {
	padding: 4px;
	min-width: 150px;
	max-width: 250px;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.overflow {
	overflow: visible !important;
}

.recharts-wrapper svg{
	overflow: inherit !important;
}

.uspy {
	font-family: 'Crimson Pro', serif;
}

.cursor-pointer {
	cursor: pointer;
}

main {
	margin-bottom: 50px;
}

/* If you need to use Collapse Component, remove this. Used for notistack-snackbar centering on mobile. Hope this is not inconvenient for you, future developer. */
.MuiCollapse-wrapper { 
	justify-content: center;
	align-items: center;
}

body {
	font-family: 'Roboto', sans-serif;
}

a[target="_blank"]:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' /%3E%3C/svg%3E");
}

@media screen and (min-width: 600px) {
	section {
		padding-left: 1rem;
	}
}

.move-up-hover-child {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.move-up-hover-parent:hover .move-up-hover-child {
	-webkit-transform: translateY(-5%) scale(1.2, 1.2);
	transform: translateY(-5%) scale(1.2, 1.2);
	background: radial-gradient(circle, rgba(120,120,120,0.4) 0%, rgba(200,200,200,0.1) 5%, rgba(0,0,0,0) 100%);
}

.move-down-on-click-child {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.move-down-on-click-parent:focus .move-down-on-click-child {
	-webkit-transform: translateY(-5%) scale(0.8, 0.8);
	transform: translateY(-5%) scale(0.8, 0.8);
}

.img-popped {
	-webkit-transform: translateY(-5%) scale(1.3, 1.3);
	transform: translateY(-5%) scale(1.3, 1.3);
}
.skeleton-arrow-up {
	border-left: 20px solid #FAFAFA;
	border-right: 20px solid #FAFAFA;
	border-top: 20px solid #FAFAFA;
	
	border-bottom: 20px solid transparent;

	margin-bottom: 20px;
	transform: scale(0.6, 1.0);
}

.skeleton-arrow-down {
	border-left: 20px solid #FAFAFA;
	border-right: 20px solid #FAFAFA;
	border-bottom: 20px solid #FAFAFA;

	border-top: 20px solid transparent;

	margin-top: 20px;
	transform: scale(0.6, 1.0);
}