.prompt {
	font-family: 'Prompt', sans-serif;
}

.roboto-condensed {
	font-family: 'Roboto Condensed', sans-serif;
}

.graybg {
	background-color: #F1F1F1
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
} 

.uspy {
	font-family: 'Crimson Pro', serif;
}