.prompt {
	font-family: 'Prompt', sans-serif;
}

.roboto-condensed {
	font-family: 'Roboto Condensed', sans-serif;
}

.graybg {
	background-color: #F1F1F1
}

.tooltip-card {
	padding: 4px;
	min-width: 150px;
	max-width: 250px;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.overflow {
	overflow: visible !important;
}

.recharts-wrapper svg{
	overflow: inherit !important;
}

.uspy {
	font-family: 'Crimson Pro', serif;
}

body {
	font-family: 'Roboto', sans-serif;
}