.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

main {
	flex-grow: 1;
}

.other-links {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}

@media screen and (min-width: 60em) {
	.other-links * {
		padding-left: 1rem;
	}
}

@media screen and (max-width: 60em) {
	.other-links {
		justify-content: space-around;
	}
}